body {
    width: 800px;
}

img {
    width: 800px;
        
}

.titulo{
    padding: 0px 0px 0px 50px;
    background-color: gray;
    border-top: 1px solid black;
    margin-bottom: 4px;
    
    
}

.datos {
    padding: 5px 100px 35px 50px;
    background-color: lightgray;
    margin-bottom: 4px;
    
}

div {
    background-color: rgb(238, 237, 236);
    padding: 5px 100px 30px 50px;
}

h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    
}


h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: underline;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    
}

.columna {
    column-count: 2;
    column-gap: 50px;
    text-align: justify;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    
}

a:hover {
    color: red;
    font-style: italic;
    text-decoration: none;
}

.icono {
    font-size: 60px;
    color: white;
    position: relative;
    left: 670px;
    bottom: 5px;
}

/* formulario */

.formulario {
    box-shadow: 2px 2px 5px rgb(73, 73, 73);
    width: 400px;
    background: linear-gradient(to bottom, white, rgb(204, 210, 245));
    border-radius: 15px;
        
}

.envio {
    background-color: white;
    color: blue;
    font-size: 16px;
    border-radius: 10px;
}

.envio:hover {
    background-color: pink;
    cursor: pointer;
    
}